[submodule "btchia-blockchain-gui"]
	path = btchia-blockchain-gui
	url = https://github.com/BTChia-Network/btchia-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
