[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
[submodule "btcgreen-blockchain-gui"]
	path = btcgreen-blockchain-gui
	url = https://github.com/BTCgreen-Network/btcgreen-blockchain-gui.git
